/* All */
* {
  font-family: sans-serif;
}

.layout {
  background-color: #1e1e2f;
}

nav > ul {
list-style-type: none;
}

.form-container{
    width: 20vw;
    min-width: 340px;
}

.index-style {
  width: 100%;
  height: 100%;
}

/* .container-tabela{
  width: 100% !important;
} */


.tabela {
  max-height: 50rem;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .tabela {
    max-height: 50rem;
    max-width: 20rem;
  }

}

.navbar {
  background-color: #525f7f;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .form-container{
    width: 340px!important;
  }

}
